<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menü</title>

    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>

<body>

<div class="container">

    <!-- Oberer Titel -->
    <div class="top-title">
        Menü
    </div>

    <!-- Linkes Menü -->
    <div class="side-menu">

        <div class="menu-item" th:each="m : ${menues}" th:style="'background:' + ${m.color} + ';'">
            <a th:href="@{${m.url}}">
                <span th:text="${m.name}"></span>
            </a>
        </div>

    </div>

    <!-- Content -->
    <div class="content">
        <h2>Willkommen</h2>
        <p>Hier kommt der Inhalt…</p>
    </div>

</div>

</body>
</html>